{
    "extends": "vaffel/react",
    "rules": {
        "no-bitwise": false,
        "no-eq-null": false,
        "no-underscore-dangle": false,
        "no-wrap-func": false,
        "semi": false,
        "strict": false,
        "wrap-iife": false
    }
}
