{
    "extends": "vaffel/react",
    "rules": {
        "eqeqeq": [2, "allow-null"],
        "no-bitwise": 0,
        "no-eq-null": 0,
        "no-underscore-dangle": 0,
        "semi": 0,
        "strict": 0,
        "wrap-iife": 0
    }
}
